{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root
for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(images/logo.png)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>

{{>partials/head}}

<body>
    <div class="top-navbar">

        <a class="burger-icon" onclick="toggleMenu()">
            <svg name="Hamburger" style="vertical-align: middle;" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 6H4V9H20V6ZM4 10.999H20V13.999H4V10.999ZM4 15.999H20V18.999H4V15.999Z"></path>
            </svg>
        </a>

        {{>partials/logo}}

    </div>

    <div class="body-content">

        <div id="blackout" class="blackout" onclick="toggleMenu()"></div>

        <nav id="sidebar" role="navigation">

            <div class="sidebar">

                {{>partials/navbar}}

                <div class="sidebar-item-separator"></div>

                {{^_disableToc}}
                {{>partials/toc}}
                {{/_disableToc}}

            </div>

            {{>partials/footer}}

        </nav>

        <main class="main-panel">

            {{#_enableSearch}}
            {{>partials/searchResults}}
            {{/_enableSearch}}

            <div role="main" class="main-panel-content hide-when-search">

                {{^_disableBreadcrumb}}
                {{>partials/breadcrumb}}
                {{/_disableBreadcrumb}}

                <article class="content wrap" id="_content" data-uid="{{uid}}">
                    <div
                        style="position:relative; background: url(&quot;{{_rel}}images/banner.png&quot;) center center / cover no-repeat rgb(0, 0, 0); filter: none; height: 192px;">
                        <h1
                            style="position: absolute; right: 10px; bottom: 10px; background: #00000088; margin-bottom: 0px;">
                            {{_title}}</h1>
                    </div>
                    {{!body}}
                </article>

                <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    
                    var disqus_config = function () {
                    this.page.url = '{{_baseUrl}}/{{_slug}}';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '{{_slug}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://reddit-dsp-guide.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                        powered by Disqus.</a></noscript>
            </div>
        </main>
    </div>

    {{>partials/scripts}}

    <script id="dsq-count-scr" src="//reddit-dsp-guide.disqus.com/count.js" async></script>
</body>

</html>